.btn-darkpink{
	background-color: #E10B69;
	color: #FFFFFF;
	padding: 10px 17px;
	border-radius: 4px;
	font-size: 24px;
	box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-darkpink:hover{
	background-color: #4FB3FF
}

/* button responsiveness */
@media(max-width: 800px){
	.btn-darkpink{
		font-size: 21px;
	}
}

@media(max-width: 560px){
	.btn-darkpink{font-size: 18px;}
}
