.container{
	width: 750px;
	margin: 0px auto;
	margin-bottom: 20px;
}

@media(max-width: 800px){
	.container{
		width: 500px;
		font-size: 15px;
	}
}

@media(max-width: 560px){
	.container{
		width: 400px;
		font-size: 15px;
	}
}

